In [ ]:
import numpy as np

In [4]:
import pandas as pd

In [ ]:
# help(pd)

In [5]:
myindex = ['USA','Canada','Mexico']

In [6]:
mydata = [1776,1867,1821]

In [11]:
myserie  = pd.Series(data=mydata,index = myindex)

In [12]:
type(myserie)

pandas.core.series.Series

In [13]:
myserie

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [14]:
myserie[0]

/tmp/ipython-input-14-41612353.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myserie[0]

np.int64(1776)

In [15]:
myserie['USA']

np.int64(1776)

In [16]:
ages = {'Sam':5,'Frank':20,'Spike':7}

In [17]:
pd.Series(ages)

Sam       5
Frank    20
Spike     7
dtype: int64