In [1]:
import numpy as np
import pandas as pd

In [2]:
mail = 'example@gmail.com'

In [3]:
mail.split('@')

['example', 'gmail.com']

In [7]:
names  = pd.Series(['john','mary','peter','jeff','bill','lisa','jose'])

In [8]:
names

0     john
1     mary
2    peter
3     jeff
4     bill
5     lisa
6     jose
dtype: object

In [10]:
names.str.upper()

0     JOHN
1     MARY
2    PETER
3     JEFF
4     BILL
5     LISA
6     JOSE
dtype: object

In [11]:
names.str.lower()

0     john
1     mary
2    peter
3     jeff
4     bill
5     lisa
6     jose
dtype: object

In [12]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [14]:
tech_finance = ['GOOG,APPLE','AMZN,JPM,BAC,GS']

In [15]:
len(tech_finance)

2

In [16]:
tickers  = pd.Series(tech_finance)

In [19]:
tickers.str.split(',')

0           [GOOG, APPLE]
1    [AMZN, JPM, BAC, GS]
dtype: object

In [20]:
tickers.str.split(',',expand=True)

      0      1     2     3
0  GOOG  APPLE  None  None
1  AMZN    JPM   BAC    GS

In [21]:
messy_names =  pd.Series(['andrew  ','bo;bo','   claire   '])

In [22]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [26]:
messy_names.str.replace(',','').str.strip().str.capitalize()

0    Andrew
1     Bo;bo
2    Claire
dtype: object

In [27]:
def cleanup(name):
  name = name.replace(";","")
  name  = name.strip()
  name  =  name.capitalize()
  return  name

In [28]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object